<!DOCTYPE html>
<html>
  <head>
    <title>CloneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header_menu clearfix">
        <li><%= link_to 'PostApp', home_path %></li>
        <li><%= link_to '投稿一覧へ', posts_path %></li>
        <li><%= link_to '新規投稿する', new_post_path %></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <h2>PostAppなら、誰でも手軽に投稿できます。</h2>
    </footer>
  </body>
</html>
